*{
    margin: 0%;
    padding: 0%;
 }

body{margin:0% }

.maincontainer {
  width: 100%;
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  border: 2px solid;
  background-color: rgb(248, 255, 255)
 
}
body{
  background-image: url('./Images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
 }
 .navbar  {
  text-align: center;
  /* font-family:monospace; */
  font-size: 10px;
  height: 30px;
  border: 1.5px solid black;
  /* background-color: black; */
  font-weight: bold; 
  /* color: rgb(101, 193, 101); */
  color: #22C55E;        /* Neon Green (Tech Accent) */

  font-family: font2; 
  background-color:  #0F172A;   /* Deep Slate Blue */

  
}

.compare {
  padding: 20px;
}

.phone {
  margin-bottom: 40px;
}

.spec {
  margin: 15px 0;
}

.bar {
  height: 4px;
  background: #ddd;
}

.bar div {
  height: 4px;
  background: green;
  width: 0;
}

span {
  font-size: 12px;
  font-weight: bold;
}
.bar div {
  height: 4px;
  background: green;
  width: 0;
  transition: width 1.2s ease-in-out;
}
.bar {
  height: 4px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.bar div {
  border-radius: 10px;
}
ul{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}