*{
    margin: 0px;
    padding: 0%;
}


@font-face {
  font-family:'Font';
  src: url(./Fonts/FasterOne-Regular.ttf);
}
@font-face {
  font-family:'Font2';
  src: url(./Fonts/RubikVinyl-Regular.ttf);
}

h1{
    font-family: sans-serif   
}
h1{
    text-align: center;
}
.ul
{
    padding-left: 20px;
    font-size: medium;
    font-weight: 500;
    font-family: sans-serif;
    display: flex;
    gap: 10px;
    flex-direction: column;
}